.bg {
  &-primary {
    background-color: $color-primary !important;
  }

  &-danger {
    background-color: $color-danger !important;
  }

  &-success {
    background-color: $color-success !important;
  }

  &-light {
    background-color: $color-light !important;
  }

  &-warning {
    background-color: $color-warning !important;
  }

  &-dark {
    background-color: $color-dark !important;
  }

  &-black {
    background-color: $color-black !important;
  }

  &-info {
    background-color: $color-info !important;
  }
}
