.dropdown {
  position: relative;

  &-toggle {
    &::after {
      display: inline-block;
      margin-left: 0.5em;
      vertical-align: 0.25em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
  }

  &-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: $color-white;
    border: 1px solid rgba($color-black, 0.15);
    margin-top: .5rem;
    z-index: 1000;

    &.show {
      display: block;
    }
  }

  &-item {
    display: block;
    width: 100%;
    padding: .5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:hover,
    &:focus {
      color: #16181b;
      text-decoration: none;
      background-color: #f8f9fa;
    }
  }
}
