.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;

  .page-item.active .page-link {
    background-color: $color-primary;
    color: $color-white;
  }

  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid #dee2e6;

    &:hover {
      z-index: 2;
      color: $color-primary;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }
  }
}
